@font-face {
  font-family: "digital";
  src: url("/fonts/digital.ttf") format("truetype");
}

$cell-color-light: antiquewhite;
$cell-color-dark: #d0d0d0;
$cell-color-border: black;
$panel-color-font: red;
$cell-size: 30px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  width: $cell-size;
  height: $cell-size;
  border: 1px solid $cell-color-border;
  background-color: $cell-color-light;
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
}

.disabled {
  pointer-events: none;
}

.fa-flag,
.fa-question {
  font-size: 14px;
}

.game {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.hidden {
  font-size: 0;
  border: 1px solid $cell-color-border;
  border-radius: 2px;
  background: linear-gradient(-45deg, $cell-color-light, $cell-color-dark);
}

.panel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  background-color: $cell-color-border;
  color: $panel-color-font;
  font-size: 34px;
}

.timer,
.counter {
  font-family: "digital";
}

.timer,
.face,
.counter {
  width: 80px;
  text-align: center;
  padding: 0 10px;
}
